<!DOCTYPE HTML>
<html lang = 'en'>
<head>
  <meta charset="utf-8">
  <title>My Experiences</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style_items.css">
</head>
<body>

    <% include ./partials/header.ejs %>
    <% include ./partials/navigation.ejs %>
    <% include ./partials/site-navigation.ejs %>

  <main>

      <p> Visitors' guide<br><br><br> </p>
      <table>
        <tr>
          <th>Attraction</th>
          <th>Category</th>
          <th>My Rating</th>
          <th>Visited</th>
          <th>Action</th>
          <th></th>
        </tr>
          <%if(data.userProfile!=null){%>
          <%for(var i=0;i<data.userProfile._userList.length;i++){%>
        <tr>
          <td><a href="/categories/item/<%=data.userProfile._userList[i].itemCode%>"><%=data.userProfile._userList[i].itemName%></a></td>
          <td><%=data.userProfile._userList[i].catalogCategory%></td>
          <td><%=data.userProfile._userList[i].rating%></td>
          <td><%=data.userProfile._userList[i].madeIt%></td>
          <td>
            <a class="btn" href="/categories/item/<%=data.userProfile._userList[i].itemCode%>">Update</a>
            <a class="btn" href="/myItems/delete/<%=data.userProfile._userList[i].itemCode%>">Delete</a>
          </td>
        </tr>
          <%}}else{%>
          <%console.log("Inside else of myItems: "+data.userProfile);}%>
       </table>
       <p class = "down"><b>&#9788;</b> Indicates that the corresponding experience has been added by you.<br>
       Click <a href="/myItems">here</a> to share a new experience
       </p>
  </main>

    <% include ./partials/footer.ejs %>

</body>
</html>
